header {
  padding:20px;
}

h1 {
  color: indianred;
  text-transform: capitalize;
}

p {
  font-family: monospace;
  font-size: 18px;
  padding: 10px;
}

.container {
  text-align: center;
  margin: 0 auto;
}

footer p{
  padding: 50px;
  font-style: italic;
}
