body, {

font-family: 'Rancho', cursive;
font-family: 'Roboto', sans-serif;
background-color: ;
}
header {
	/*background-color: #ffcce0;*/
	background-color: #b3ffff;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
h1 {
	font-family: 'Rancho', cursive;

}
#advice {
	background-color: #ff99c2;
	overflow: auto;
}
h4 {
	font-family: 'Rancho', cursive;
	font-size: 25px;
	text-align: center;
}
.one {
	
	float: left;
	background-color: #b3ffff;
	margin: 40px 100px 30px 100px;
	padding: 20px;
	border: 5px solid #ffcce0;
	width: 300px;
	font-size: 18px;
	line-height: 1.4em;
	

}
.two {
	float: left;
	background-color: #b3ffff;
	margin-top: 40px;
	padding: 20px;
	border: 5px solid #ffcce0;
	width: 630px;
	font-size: 18px;
	line-height: 1.4em;

}
footer {
	background-color: #ffcce0;
	

	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	clear: both;
}

a {
	color: #ff0066;
	text-decoration: none;

}
a:hover {
	color: #3bb300;
	
}




