body {
	background: #ccf3ff;
}

header, section, footer {
	text-align: center;
}

header h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    margin: 60px 0 40px 0;
}

.advice {
	width: 1200px;
	margin: 0 auto;
}

.advice h3 {
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
}

.advice p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

.tenor-gif-embed {
	margin: 50px auto;
}