 .shaynak-advice {
 background-color: black;
 color: hotpink;
 font-family: 'Chilanka', cursive;

 
 }

 .h1-heading {
	 
	 color: white !important;
	  font-family: 'Chilanka', cursive;
	  text-align: center;
 }
 
 .p {
	 
	 color: white;
	 
	 
 }
 