/*** Base Styles ***/

body {
  background-color: AliceBlue;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 30px;
}

h1 {
  text-align: center;
  text-transform: ;
}



/*** HEADER ***/
header {
    background-color: ;
    padding: 20px;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    border: 10px;
}

button {
  text-align: left;
  margin-left: 10px;
  font-family: 'Nanum Myeongjo', serif;
  color: white;
}

 /*** MAIN ***/

 #advice {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
}

h4 {
  text-decoration: underline;
  font-weight: bold;
  font-size: 30px;

}

  /*** FOOTER ***/
  footer {
    text-align: center;
  }
