/***** base *****/
body {
  width: 100%;
  background-image: url("../treebark.jpeg");
}

/***** header *****/
header {
  margin: 20px 20px;
  width:auto;

}

header a {
  text-decoration: none;
  font-family: 'Fredericka the Great', cursive;
  color: #ecf2f9;
  border: 2px solid #008080;

}

header h1 span {
  font-family: 'Fredericka the Great', cursive;
  color:  #ad8552;
  text-align: center;
  font-size: 52px;
  text-shadow: 2px 2px 2px #060d13;

}

header h1{
  padding-top: 20px;
  padding-bottom: 20px;
  height:150px:
  font-family: 'Fredericka the Great', cursive;
  color:  #3d4770;
  text-align: center;
  text-shadow: 2px 2px 2px #060d13;
  border:10px groove #f2f2f2;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #f0f5f5;

}

/***** section *****/
section {
  margin-left: 250px;
  margin-right: 250px;
  height:1000px;
  background-image: url(../twocoffees.jpeg);
  background-position: center;
  background-repeat: no-repeat, no-repeat;
  background-color: #f0f5f5;
  border:10px groove #f2f2f2;
  font-family: 'Cormorant', serif;
  color: #4d2600;
}

#boxone {
  float:left;
  width:350px;
  padding-top: 50px;
  padding-left: 40px;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
}
#boxone h3 {
  font-size: 36px;
}

#boxone p{
  font-size: 20px;
}

#boxtwo {
  float:right;
  width:350px;
  padding-top: 50px;
  padding-right:40px;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
}
#boxtwo h3 {
  font-size: 36px;
}

#boxtwo p{
  font-size: 20px;
}

/***** footer *****/
footer {
  clear: both;
  float: left;
}
