/***** BASE STYLES *****/

header {
    font-family: 'Source Code Pro', monospace;
    background-color: gainsboro;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

body {
    background-color: moccasin;
    padding: 10px;
}


body h4 {
    font-family: cursive;
    font-size: 25px;
}

body p {
    font-family: fantasy;
    font-weight: 600;
}

footer {
    font-family: 'Source Code Pro', monospace;
    color: blue;
    font-style: oblique;
    font-size: 30px;
    font-variant-caps: all-small-caps;
    font-weight: bold;
}
