section {
    width: 800px;
    margin: 100px auto;
}

section h1,
section p {
    text-align: center;
    color: darkmagenta;
}

section h1 {
    font: 32px 'Open Sans';
    font-weight: bold;
    color: black;
}

section p {
    font: 16px 'Open Sans';
}

footer {
    text-align: left;
}