h1 {
	font-family: "Amatic SC", cursive;
	font-size: 40px;
	text-align: center;
	color: #ffffff;
	}
h4 {
	font-family:'Jomolhari', serif;
	font-size: 24px;
	text-align: center;
	text-decoration: underline;
}
p { 
	font-family: 'DM Serif Display', serif;
	font-size: 20px;
	text-align: center;
	width: 500px;
	margin: auto;
	line-height: 1.5em;
	padding: 20px;
	background:;

}
body {
	background-color:#828282;
}
.advice {
	width: 800px;
	margin: auto;
	background-color: #eee9e8;
	border-radius: 25px;
	padding: 20px;
	position: relative;
	z-index: 1;
}