.amber-advice {
  background-color: #fbcab8;
  color: #546831;
}
hr {
  border: 0.5px solid white;
}
h1 {
  text-align: center;
  font-size: 35px;
}
h4 {
  font-size: 20px;
}
footer {
  text-align: center;
}
