/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background-color: #c2c2d6;
}
h1 {
    font-size: 2.25em;
    color: #800000;
    margin-top: 1em;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #800000;
}

a {
    text-decoration: none;
    color: #bb433d;
}

footer {
    text-align: center;
    padding-top: 1em;
}
