body {
  font-family: 'Poppins', sans-serif;
  background-color: #330278;
  color: #a18ebd;
  margin: 30px;
  line-height: 24px;
}

div {
  column-count: 2;
}

h1 {
  text-align: center;
}

h4 {
  font-size: 20px;
  padding: 20px 0;
}

p {
  font-size: 14px;
}

footer {
  text-align: center;
  color: #aba0ba;
  padding: 20px 0;
}
