.skillcrush-advice {
  background-color: #F1F1F3;
  color: #172528;
  text-align: center;
}

h1 {
  color: #6A9EA6;
  font-style: italic; 
}

h4 {
  color: #BE8B87;
}

.advice {
  border: solid 2px #C1C0BE;
}
