body{
	background:teal;
}

header h1{
	text-align: center;
	color:lightblue;
}

h4{
	text-align:center;
	color:aquamarine;
	text-decoration: underline;
}

div p{
	text-align: justify;
	color:black;
}

footer p{
	text-align: center;
	color:aquamarine;
}