/***** BASE STYLES *****/

body {
    font-size: 20px;
    line-height: 2em;
    padding: 1.5em;    
    margin: 0 auto;
    background-color: rgb(250, 244, 223);
}

/***** HEADER *****/

h1 {
    font-size: 2.25em;
    color: #333;
    margin-top: 1em;
}

h1 span {
    color: #bb433d;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

a {
    text-decoration: none;
    color: #bb433d;
}

/***** FOOTER *****/

footer {
    text-align: center;
    font-style: italic;
    padding-top: 1em;
}
