body {
	margin: 20px ;
	font-family: 'Josefin Sans', sans-serif;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

h1 {
	color: #c47c84;
	background: #1d2b41;
	text-align: center;
}

header h1 span {
	font-family: 'Sacramento', cursive;
	font-size: 2.0em;
	color: #9edbc0;
}

h4 {
	font-family: 'Sacramento', cursive;
	font-size: 2.4em;
	color: #1d2b41;
	font-weight: bold;
	margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
	padding-left: 20px;
	padding-right: 20px;
}
