*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
}
button{
    width: 180px;
    background: rgb(209, 168, 168);
    margin: 14px;
    border-radius: 39px;
    height: 62px;
}


#btn{
    text-decoration: none;
    font-size: 16px;
    color: crimson;
    text-align: center;

}
header{
    text-align: center;
    margin: 1rem;
}

#name{
    font-size: 1.75rem;
}
.container{
 width: 99%;
 margin:  0.5rem;
 background-image: url('https://pixabay.com/photos/programming-html-css-javascript-1873854/');
}