*{
 
  box-sizing: border-box;
  font-size: 1.3rem;
}
button{
    width: 180px;
    background: rgb(209, 168, 168);
    margin: 14px;
    border-radius: 39px;
    height: 62px;
}


#btn{
    text-decoration: none;
    font-size: 16px;
    color: crimson;
    text-align: center;

}
header{
    text-align: center;
    margin: 1rem;
}

#name{
    font-size: 1.75rem;
}
.container{
 width: 90%;
 height: auto;
 margin:  4rem;
 background-image: url('https://images.unsplash.com/photo-1584551882459-bee9565c5022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=694&q=80');
 background-size: cover;
 background-attachment: fixed;
}
