/**BASE STYLES**/

body {
    background-color: rgb(44, 42, 42);
   
}


p {
    font-size: 18px;
    font-weight: bolder;
}



.block {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-variant: small-caps;
}



/**top half of page**/

.top {
    background: linear-gradient(rgb(31, 75, 58),rgba(255,255,255,.5)), url("../advice/images/greykitty.jpg");
    padding-bottom: 10px;
}


.top p {
    font-size: 18px;
    font-weight: bolder;
  
}



/**bottom half of page**/


.bottom  {
    background: linear-gradient(rgb(143, 84, 45),rgba(255,255,255,.5)), url("../advice/images/kittyunicorn.jpg");
    padding-bottom: 5px;
   
}

