

body {
	background: #ccffff;
	display: inline;
    font-family: 'Dancing Script', cursive;
	font-size: 30px;
	color: #800080;
	margin: 50px;
	line-height: 25px;
}

h1{
	text-align: center;
}


#one{
	background: #ffffcc;
	border: 20px solid #ffffff;
	margin-left: 90px;
	margin-right: 75px;
	padding: 20px;
	width: 500px;
	overflow: auto;
	font-size: 30px;
	line-height: 1.4em;
	float: left;
}

#two{
	background: #ffffcc;
	border: 20px solid #ffffff;
    margin-top: 40px;
	padding: 20px;
	width: 600px;
	line-height: 1.4em;
	overflow: auto;
	float: left;
}


 .advice p {
   font-size: 18px;
   font-weight: bold;

 }


h4 {
	font-size: 35px;
	font-weight: bold;
	line-height: 32px;
	color: #33ff33;
	text-align: center;
}


/******** footer *******/
footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #ccffff; 
	text-align: center;
	clear: both;
}

