.skillcrush-advice {
	background: url('https://images.pexels.com/photos/1576369/pexels-photo-1576369.jpeg');
	background-position: center;
	background-size: cover;
	clear: both;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin: 60px 100px;
}

