body{
    background-color: rgb(79, 137, 163);
    color: black; 
    max-width: 1500px;
    margin: auto;
  }
  
  h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }
  
  .advice{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: justify;
  }
  
  .advice h4{
    font-family: 'Caveat', cursive;
    text-align: left;
    font-size: 40px;

  }

  ol{
      font-size: 18px;
  }
  ol span{
    font-style: italic;
  }