/***** BASE STYLES *****/

body {
    font-family: 'BenchNine', sans-serif;
    font-size: 18px;
    color: #333;
    padding: 1em;
    margin: 0 auto;
    background-image: linear-gradient(#f88378, white);
}

h1 {
    font-family: 'Kristi', sans-serif;
    font-size: 2.75em;
    color: #333;
    text-align: center;
    margin-top: 1em;
    padding-bottom: 5px;
    border-bottom: 3px solid #333;
}
h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

a {
    text-decoration: none;
    color: #bb433d;
}

footer {
    font-family: 'Kristi', sans-serif;
    text-align: center;
    padding-top: 1em;
    color: #f88378;
}
