/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background-color: #faf5f5;
}

header {
    text-align: center;
}

h1 {
    font-size: 2.25em;
    color: #333;
    margin-top: 1em;
    
}
h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}

a {
    text-decoration: none;
    color: #bb433d;
}

div {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    text-align: center;
    padding-top: 1em;
    text-align: center;
}
