body{
  text-align:center;
  background-color: yellow;
}


h1{
  background-color:#cc66ff;
  padding:10px;
}

h2{color:#3cb371;
	font-size: 40px;
	font-style: italic;
}

p{font-size: 20px;
text-align: left;
font-weight: bold;
}

h3{text-transform: uppercase;
color: darkorchid;
}

div{font-weight: bold;
	color: #663399;
}

h4{
  font-weight: bold;
  color: green;
  font-size: 25px;
}
