body {
  background-color: rosybrown;
  font-family: ;
}

header {
  font-family: 'Alata', sans-serif;
  font-size: 25px;
  text-align:center;
}

.advice {
  font-family:'Libre Caslon Display', serif;
}
