/***** BASE STYLES *****/

body {
    font-size: 22px;
    padding: 1em;
    margin: 0 auto;
    background: #faf5f5;
    background-color: #8F3A84
}

h1 {
    font-size: 2.25em;
    color: #333;
    margin-top: 1em;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color:#3A8F8F;
}

a {
    text-decoration: none;
    color: #bb433d;
}

footer {
    text-align: center;
    padding-top: 1em;
}
