.caseyhur-advice {
	background-color: #ffffff;
}

.caseyhur-advice h1, h4 {
	font-family: 'Indie Flower', cursive;
	text-align: center;
  color: #CC0059
}

.caseyhur-advice p {
	font-family: 'Slabo 27px', serif;
  color: #7F0038
}
