.chelseajohnson-advice h1 {
    font-family: helvetica, sans-serif;
    font-size: 24pt;
    color: #ff9999;
}

.advice h4 {
    font-family: Helvetica; sans-serif;
    font-size: 18pt;
    text-decoration: underline;
    color: #ffcccc;
}

.advice p {
    font-family: serif;
    font-size: 14pt;
    color: #9999ff;
}