/*RESET*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,el, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer,header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;
}
body {
	line-height: 1;
	}
ol, ul {
	list-style: none;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: 
	collapse;border-spacing: 0;}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
/*End RESET*/
/*BODY STYLES*/
body {
	background-color:#fef3f8;
	border-top: 6px solid #f36f5e;
}
header, section, footer {
	width: 60%;
	margin: 5% auto;
	text-align: center;
}
/*End BODY STYLES*/
/*FONT STYLES*/
h1, p, a {
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-weight:700;
	font-size:250%;
	color:#777777;
}
h1 em {
	font-weight:500;
}
h4, h5 {
	color:#474747;
	font-size: 135%;
}
h4, h5, em {
	font-family: 'Bitter', serif;
	font-weight: 500;
}
p {
	font-size: 105%;
}
em {
	color:#f36f5e;
	font-size: 125%;
}

/*End FONT STYLES*/
/*HEADER STYLES*/
header {
	padding-top:3%;
}
/*End HEADER STYLES*/
/*SECTION STYLES*/
.advice p {
	text-align: left;
	padding: 2% 0;
}
h4, h5 {
	padding: 2% 0;
}
h5 {
	padding-bottom:4%;
}
hr {
	margin-bottom: 5%;
	border-width: .5px;
}
/*End SECTION STYLES*/
/*LINK STYLES*/
a {
	text-decoration:none;
	color: #777777;
	font-weight:600;
}
a:focus,  a:hover, a:active {
	color:#f36f5e;
}
/*End LINK STYLES*/
/*FOOTER STYLES*/
footer {
	margin-bottom:0;
	padding-bottom:2%;
	font-size:85%;
	color:#777777;
}
/*End FOOTER STYLES*/
/*MOBILE/TABLET RESPONSIVE STYLES*/
@media only screen and (max-width:800px) {
	header, section, footer {
	width: 85%;
	margin: 5% auto;
}
h1 {
	font-size: 225%;
}
}
/*End MOBILE/TABLET RESPONSIVE STYLES*/
/*DOT ANIMATION STYLES*/
.dot {position: absolute; border-radius: 50%;-webkit-border-radius:50%;}
@-webkit-keyframes dot-animation-2 {100% {-webkit-transform: translate3d(31vw, 40vh, 72px);transform: translate3d(31vw, 40vh, 72px);}}
@keyframes dot-animation-2 {100% {-webkit-transform: translate3d(31vw, 40vh, 72px);transform: translate3d(31vw, 40vh, 72px);}}
.dot:nth-child(2) {-webkit-animation: dot-animation-2 90s infinite;animation: dot-animation-2 90s infinite;opacity: 0.45;height: 10px;width: 10px;-webkit-animation-delay: -0.4s;animation-delay: -0.4s;-webkit-transform: translate3d(19vw, 6vh, 37px);transform: translate3d(19vw, 6vh, 37px);background: #3f3f3f;}
@-webkit-keyframes dot-animation-3 {100% {-webkit-transform: translate3d(86vw, 68vh, 72px);transform: translate3d(86vw, 68vh, 72px);}}
@keyframes dot-animation-3 {100% {-webkit-transform: translate3d(86vw, 68vh, 72px);transform: translate3d(86vw, 68vh, 72px);}}
.dot:nth-child(3) {-webkit-animation: dot-animation-3 90s infinite;animation: dot-animation-3 90s infinite;opacity: 0.81;height: 8px;width: 8px;-webkit-animation-delay: -0.6s;animation-delay: -0.6s;-webkit-transform: translate3d(8vw, 86vh, 77px);transform: translate3d(8vw, 86vh, 77px);background: #6c6c6c;}
@-webkit-keyframes dot-animation-5 {100% {-webkit-transform: translate3d(23vw, 48vh, 52px);transform: translate3d(23vw, 48vh, 52px);}}
@keyframes dot-animation-5 {100% {-webkit-transform: translate3d(23vw, 48vh, 52px);transform: translate3d(23vw, 48vh, 52px);}}
.dot:nth-child(5) {-webkit-animation: dot-animation-6 90s infinite;animation: dot-animation-6 90s infinite;opacity: 0.91;height: 6px;width: 6px;-webkit-animation-delay: -1.2s;animation-delay: -1.2s;-webkit-transform: translate3d(11vw, 76vh, 67px);transform:translate3d(11vw, 76vh, 67px);background: #b9b9b9;}
@-webkit-keyframes dot-animation-6 {100% {-webkit-transform: translate3d(36vw, 2vh, 97px);transform: translate3d(36vw, 2vh, 97px);}}
@keyframes dot-animation-6 {100% {-webkit-transform: translate3d(36vw, 2vh, 97px);transform: translate3d(36vw, 2vh, 97px);}}
.dot:nth-child(6) {-webkit-animation: dot-animation-7 90s infinite;animation: dot-animation-7 90s infinite;opacity: 0.64;height: 6px;width: 6px;-webkit-animation-delay: -1.4s;animation-delay: -1.4s;-webkit-transform: translate3d(50vw, 18vh, 10px);transform: translate3d(50vw, 18vh, 10px);background: #3f3f3f;}
@-webkit-keyframes dot-animation-7 {100% {-webkit-transform: translate3d(11vw, 61vh, 43px);transform: translate3d(11vw, 61vh, 43px);}}
@keyframes dot-animation-7 {100% {-webkit-transform: translate3d(11vw, 61vh, 43px);transform: translate3d(11vw, 61vh, 43px);}}
.dot:nth-child(7) {-webkit-animation: dot-animation-9 90s infinite;animation: dot-animation-9 90s infinite;opacity: 0.34;height: 9px;width: 9px;-webkit-animation-delay: -1.8s;animation-delay: -1.8s;-webkit-transform: translate3d(53vw, 7vh, 32px);transform: translate3d(53vw, 7vh, 32px);background: #f36f5e;}
@-webkit-keyframes dot-animation-8 {100% {-webkit-transform: translate3d(53vw, 15vh, 79px);transform: translate3d(53vw, 15vh, 79px);}}
@keyframes dot-animation-8 {100% {-webkit-transform: translate3d(53vw, 15vh, 79px);transform: translate3d(53vw, 15vh, 79px);}}
.dot:nth-child(9) {-webkit-animation: dot-animation-10 90s infinite;animation: dot-animation-10 90s infinite;opacity: 0.14;height: 8px;width: 8px;-webkit-animation-delay: -2s;animation-delay: -2s;-webkit-transform: translate3d(90vw, 13vh, 21px);transform: translate3d(90vw, 13vh, 21px);background: #b9b9b9;}
@-webkit-keyframes dot-animation-9 {100% {-webkit-transform: translate3d(80vw, 21vh, 24px);transform: translate3d(80vw, 21vh, 24px);}}
@keyframes dot-animation-9 {100% {-webkit-transform: translate3d(80vw, 21vh, 24px);transform: translate3d(80vw, 21vh, 24px);}}
.dot:nth-child(10) {-webkit-animation: dot-animation-11 90s infinite;animation: dot-animation-11 90s infinite;opacity: 0.92;height: 8px;width: 8px;-webkit-animation-delay: -2.2s;animation-delay: -2.2s;-webkit-transform: translate3d(67vw, 14vh, 51px);transform: translate3d(67vw, 14vh, 51px);background: #b9b9b9;}
@-webkit-keyframes dot-animation-10 {100% {-webkit-transform: translate3d(54vw, 3vh, 73px);transform: translate3d(54vw, 3vh, 73px);}}
@keyframes dot-animation-10 {100% {-webkit-transform: translate3d(54vw, 3vh, 73px);transform: translate3d(54vw, 3vh, 73px);}}
.dot:nth-child(13) {-webkit-animation: dot-animation-14 90s infinite;animation: dot-animation-14 90s infinite;opacity: 1;height: 9px;width: 9px;-webkit-animation-delay: -2.8s;animation-delay: -2.8s;-webkit-transform: translate3d(39vw, 46vh, 29px);transform: translate3d(39vw, 46vh, 29px);background: #f36f5e;}
@-webkit-keyframes dot-animation-13 {100% {-webkit-transform: translate3d(33vw, 14vh, 42px);transform: translate3d(33vw, 14vh,42px);}}
@keyframes dot-animation-13 {100% {-webkit-transform: translate3d(33vw, 14vh, 42px);transform: translate3d(33vw, 14vh, 42px);}}
.dot:nth-child(14) {-webkit-animation: dot-animation-15 90s infinite;animation: dot-animation-15 90s infinite;opacity: 0.44;height: 10px;width: 10px;-webkit-animation-delay: -3s;animation-delay: -3s;-webkit-transform: translate3d(70vw, 10vh, 28px);transform: translate3d(70vw, 10vh, 28px);background: #b9b9b9;}
@-webkit-keyframes dot-animation-14 {100% {-webkit-transform: translate3d(60vw, 65vh, 10px);transform: translate3d(60vw, 65vh, 10px);}}
@keyframes dot-animation-14 {100% {-webkit-transform: translate3d(60vw, 65vh, 10px);
transform: translate3d(60vw, 65vh, 10px);}}
.dot:nth-child(15) {-webkit-animation: dot-animation-18 90s infinite;animation: dot-animation-18 90s infinite;opacity: 0.57;height: 10px;width: 10px;-webkit-animation-delay: -3.6s;animation-delay: -3.6s;-webkit-transform: translate3d(12vw, 61vh, 93px);transform: translate3d(12vw, 61vh, 93px);background: #6c6c6c;}
@-webkit-keyframes dot-animation-15 {100% {-webkit-transform: translate3d(36vw, 85vh, 7px);
transform: translate3d(36vw, 85vh, 7px);}}
@keyframes dot-animation-15 {100% {-webkit-transform: translate3d(36vw, 85vh, 7px);
transform: translate3d(36vw, 85vh, 7px);}}
.dot:nth-child(16) {-webkit-animation: dot-animation-19 90s infinite;animation: dot-animation-19 90s infinite;opacity: 0.87;height: 8px;width: 8px;-webkit-animation-delay: -3.8s;animation-delay: -3.8s;-webkit-transform: translate3d(76vw, 40vh, 12px);transform: translate3d(76vw, 40vh, 12px);background: #f36f5e;}
@-webkit-keyframes dot-animation-16 {100% {-webkit-transform: translate3d(26vw, 11vh, 84px);
transform: translate3d(26vw, 11vh, 84px);}}
@keyframes dot-animation-16 {100% {-webkit-transform: translate3d(26vw, 11vh, 84px);
transform: translate3d(26vw, 11vh, 84px);}}
/*End DOT ANIMATION STYLES*/

