/***** Main *****/
body {
    width: 1200px;
    padding: 1em;
    margin: 0 auto;
    background-color: mistyrose;
}
h1 {
    color: purple;
    font-size: larger;
    font-weight: bold;
    margin-top: 1em;
}
h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #f16059;
}
a {
    text-decoration: none;
    color: #bb433d;
}
footer {
    text-align: center;
    padding-top: 1em;
}