.dalia-advice {
  font-family: ,sans-serif;
  color: #ff0000;
}

a:visited {
  color:#383838;
}

a:hover {
  color: #990000;
}

h1 {
  font-family: serif;
  background-color: #e28d48;
  padding: 0.5em 1em;
}

.my-name {
  color:#82b768;
}

h4 {
  color:#a3d18c;
}
