header{
  width: 600px;
    margin: 0 auto;
    background-color: ##3F50FC;
    padding: 0 20px 20px 20px;
    border: 5px solid #457DE6;
}
.advice{
  width: 600px;
    margin: 0 auto;
    background-color: ##3F50FC;
    padding: 0 20px 20px 20px;
    border: 5px solid #457DE6;
}
