body {
	background-color: #FFFFFF;
	font-family: arial;
}

h1 {
font-family: helvetica;
font-size: 20px;
color: #F08080;
}

p{
font-size: 14px;
color: #7E7F83;
text-align: justify;
}

#signature {
	font-weight: bold;
	font-size: 16px;
	color: #F08080;

}

