body {
  background-color: #e6ffff;
}
header {
  width: 100%;
  display: inline-block;
}
header h1 {
  float: left;
  text-decoration: underline;
  font-size: 20px;
}
header a {
  float: right;
  }
.advice h4 {
  text-align: center;
}
footer {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 20px;
}
