
body {
  font-family: 'Noto Sans', sans-serif;
  margin:  100px 150px 100px 150px;
  background: lavenderblush;
}
header a {
    font-size: 20px;
    font-weight: bolder;
    float: right;
    padding-bottom: 50px;
}
.egbert-advice h2, h1 {
  font-family: 'Pacifico', cursive;
  color: purple;
}
span {
  font-weight: 700;
}
h1 {
    font-size: 50px;
    font-weight: 700;
    clear: both;
} 
h2 {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 50px;
    text-align: center;
}
 p{
  
    font-size: 20px;
}