
/**** style****/
.full-width{
  margin: 50px 200px 20px 200px;
  padding: 30px 40px 30px 40px;
  background:#B9AFAD;
}
/****** body **********/

body{
  font-family:'Open Sans Condensed', sans-serif;
  width:100%;

}

/*******header**********/
header{
  height: 300px;
  background: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-repeat: no-repeat;
  background-position: center;
}
header h1, h2{
  text-align: center;
}

header h1{
  font-weight:300;
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: 4px;
}
header h1 span{
  font-family: 'Petit Formal Script', cursive;
  font-size: 45px;
  letter-spacing: 1px;
  text-transform: lowercase;
  line-height:2px;
}

header h2{
  font-weight:300;
  font-size:20px;
}

/*********** body********/

body h4{
  font-family: 'Petit Formal Script', cursive;
  color: #F7D7CB;
  font-size: 24px;
}

/******** footer**********/

footer{
text-align:center;
}
