/***** BASE STYLES *****/

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #cce6ff;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.25em;
    color: #08549b;
    margin-top: 1em;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #0077e6;
}

a {
    font-style: italic;
    text-decoration: none;
    color: #772677;
}

footer {
    text-align: center;
    padding-top: 2em;
}