/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: lightSlategray;
}

h1 {
    font-size: 2.25em;
    color: lightgoldenrodyellow;
    margin-top: 1em;
    text-align: center;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #f16059;
}

a {
    text-decoration: none;
    color: #bb433d;
}

.advice {
    color: white;
    font-size: 32px;
    text-align: center;
}

#quote {
    color: lightgoldenrodyellow;
    font-size: 24px;
}

footer {
    text-align: center;
    padding-top: 1em;
}