header h1, header h2, footer p {
  text-align: center;
}

.advice {
  background-color: lavender;
  line-height: 24px;
}

h1 {
  font-size: 42px;
  color: coral;
}

h4 {
  color: purple;
}

span {
  text-decoration: underline;
  text-decoration-color: purple;
}
