/***BODY***/ 
h1 {
	color: pink;
	font size:34px;
	text-align:center;
}
h4 {
	color:pink;
	font-size:26px;
	text-align:center;
}
.advice p { 
	color:black
	font-size:18px;
	text-align:center;
}
footer { 
	color: blue;
	font-size:16px;
	text-align:center; 
}