body {
     background: #faf5f5;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     margin: 0 auto;
     padding: 1em;
  }

h1 {
     color: #333;
     font-family: 'Permanent Marker', cursive;
     font-size: 2.25em;
     margin-top: 1em;
}

#gladys {
     color: #f5429e;
}

h4 {
    color: #f5429e;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
 }

footer {
     margin-top: 50px;
     text-align: center;
}
