body {
    background-color: rgb(22, 8, 71);
}

h1, h3 {
    text-align: center;
    color: rgb(234, 240, 238);
    text-transform: capitalize;
}

.advice {
    padding: 25px;
    margin: 0 100px;
}

h1 {
    font-size: 27px;
    line-height: 35px;
}

h3 {
    font-size: 23px;
    line-height: 30px;
}

p {
    font-size: 20px;
    line-height: 24px;
    color: rgb(121, 116, 116);
}
span {
    color: rgb(234, 240, 238);
}

.footer {
    text-align: center;
}