/***** BASE STYLES *****/

body {
    color: #fff;
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
    padding: 3em;
    margin: 0 auto;
    background-color: #18171a;
}

.vl {
    display: block;
    position: absolute;
    z-index: -100;
    border-left: 1px solid #fff;
    height: 95em;
    left: 35%;
    top: 13em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    animation: 1.5s ease-out 0s 1 lineSlideInFromBottom;
}

@keyframes lineSlideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.hl {
    display: block;
    position: absolute;
    z-index: -50;
    border-bottom: 1px solid #fff;
    /*! height: ; */
    top: 50em;
    width: 90%;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
 }

 @keyframes slideInFromLeft {
   0% {
     transform: translateX(-100%);
     opacity: 0%;
   }
   100% {
     transform: translateX(0);
     opacity: 100%;
   }
 }

.container {
  background-color: #3005d3;
  padding: 3em;
  width: 30em;
  margin: 5em auto;
  box-shadow: 30px 30px 0 0 #190061;
  border-right: solid 3px #3005d3;
  border-bottom: solid 3px #3005d3;
  border-radius: 3px;
  top: -40%;
  z-index: 5;
  animation: 1.7s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 30%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

h1 {
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.25em;
    margin: 1.75em auto 1.75em auto;
    padding: 0 5em 0 5em;
    text-align: center;
}

span {
    color: #3005d3 ;
}

h4 {
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    font-weight: 700;
    padding-bottom: 0.5em;
    margin: 0px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: grey;
    animation: 1s ease-in 2s backwards appear;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

footer {
    text-align: center;
    padding-top: 1em;
}
