/***** BASE STYLES *****/
body {
font-family: 'Times New Roman', sans-serif;
width: 1200px;
margin: 0 auto;
}

/***** HEADER *****/

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ff0000;
}

.advice h4 {
  text-align: center;
  font-size: 26px;
  text-decoration: underline;
  color: #ff6f00;
}

.advice p {
  font-size: 20px;
  color: #000000;
}
/***** FOOTER *****/

.footer {
  background-color: #ffea94;
  text-align: center;
  font-size: 18px;

}
