/***** BASE STYLES *****/

body {
    font-family: 'MuseoModerno', cursive;
    max-width: 1280px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

/***** HEADER *****/

header {
    background-color: #f8f8f2;
    padding: 30px 40px;
}

header h1 {
    font-size: 72px;
    margin-bottom: 0;
    color: #161616;
}

header h1 span {
    color: #a8aac0;
    font-size: larger;
}

header h2 {
    font-family: 'Assistant', 'Helvetica', sans-serif;
    margin-top: 0;
    margin-left: 20px;
    color: #a8aac0;
    letter-spacing: 1px;
}

header a {
    text-decoration: none;
    font-size: 26px;
    text-transform: uppercase;
    color: #262730;
    border: 3px solid #262730;
    padding: 10px 20px;
    margin-top: 20px;
}

header a:hover {
    background-color :#262730;
    color: #fff;
}

/***** ADVICE *****/

.advice {
    padding: 10px 40px;
    background-color: #262730;
}

.advice h4 {
    font-size: 56px;
    color: #a8aac0;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.advice h4 span {
    color: #f8f8f2;
}

.advice p {
    font-size: 32px;
    line-height: 42px;
    color: #e4e4de;
    font-weight: 200;
}

/***** FOOTER *****/

footer {
    margin: 0;
    padding: 10px 40px;
    background-color: #f2f2f2;
}

footer p {
    color: #a8aac0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
