* {
    font-family: 'Montserrat', sans-serif;
    background: #8FBC8F;
    color: #F0F8FF;
}

.advice {
    width: 50%;
    text-align: left;
}

h4 {
    font-size: 2rem;
    font-style: italic;
}

header {
    text-align: center;
    font-size: 2rem;
}

footer {
    text-align: center;
}

a:hover {
    color: black;
}

h1 {
    color: #00008B;
}

header a {
    text-align: right;
    font-size: 0.5rem;
}