/***** BASE STYLES *****/

a {
    border: 1px solid black;
    Float: left;
    padding: 10px;
    Margin: 10px;
    font-family: 'Teko', san serif;
    font-size: 20px;
 }

body {
    width: auto;
    height: auto;
    margin: 50px auto;
    background-color: #ced8d9;
    padding: 10px;
}

h1 {
    font-family: 'Teko', san serif;
    font-size: 40px;
    color: #333;
    background-color: #a6a1a6
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    padding: 20px 0 40px 0;
    clear: both;
}

h4 {
    font-size: 35px;
    font-weight: bold;
    color: #5C8EA3;
    text-align: center;
    text-decoration: underline;
    font-family: 'Teko', san serif;
    background-color: #a6a1a6
}

p {
   background-color: #ced8d9; 
   font-family: 'Architects Daughter', cursive;
   font-size: 20px;


}

footer {
    text-align: center;
    padding: 30px;
}

h3 {

    font-family: 'Metal Mania', cursive;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    
}

.highlight{
    color: #f0ec37;
    font-family: 'Teko', san serif;
    font-size: 40px;
}