.skillcrush-advice {
	background: lightgray;
	font-family: 'Charmonman', cursive;
	font-size: 20px;
	width: 80%;
	height: auto, overflow;
}

.advice {
	font-family: 'Open Sans Condensed', sans-serif;
	width: 60%;

}