/***** Basic *****/

body {
    color: black;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

header,
h4 {
    font-family: 'Dancing Script', cursive;
}

section {
    overflow: auto;
}

.advice {
    background-color:  black;
    color: red;
    float: left;
    clear: both;
}

footer {
    background: red;
    color: white;
}