
/***** BASE STYLES *****/

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    color: #000;
}

h1, h4 {
    color: #000;
    font-family: 'Kaushan Script', cursive;
}

/***** HEADER *****/

header {
    background-color: #c6ecd9;
    padding: 30px 40px;
}

.back-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.back-link a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h1 span {
    color: #fff;
    font-size: 60px;
    text-shadow: 1px 1px 2px #330000, 0 0 25px #339933, 0 0 5px #339966;
}

/***** ADVICE *****/

.advice {
    padding: 10px 40px;
    background-color: #fff;
}

.advice h4 {
    color: #000;
    font-size: 35px;
    margin-bottom: 0;
}

.advice p {
        font-size: 18px;
        line-height: 30px;
}

/***** FOOTER *****/

footer {
    margin: 0;
    padding: 10px 40px;
    background-color: #000;
}

footer p {
        color: #fff;
        text-align: center;
}
