
.jennieskilz-advice {
  color: purple;
  text-align: center;
}

h1 {
  color: DarkCyan;
  font-weight: bold;
}

p {
  font-weight:lighter;
  color: ForestGreen;
}

.advice {
  color: ForestGreen;
}

h4 {
  color:DodgerBlue;
  font-style:italic;
}
