/****** BASE STYLES ******/

body h1 {
	font-family: 'Kaushan Script', cursive;
	color: #4000ff;
}

body h4 {
	font-family: 'Libre Baskerville', serif;
	color: #404040;
	font-weight: bolder;
}

body p {
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    font-weight: lighter;
}



/****** HEADER ******/