a {
	text-decoration: none;
	color: #222833;
}

body {
	background-color: #8496b5;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h1 {
	text-decoration: underline;
}

h1,
h2 {
	font-family: 'News Cycle', sans-serif;
	color: #222833;
}

.advice {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
