/***** BASE STYLES *****/

body {
    font-size: 20px;
    padding: 1em;
    margin: 0 auto;
    background-color: #666666;
}

h1 {
    font-size: 2.25em;
    font-variant: small-caps;
    font-weight: bold;
    color: #999967;
    margin-top: 1em;
    text-align: center
}
h4 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    color: #CCCCCC;
}

a {
    text-decoration: none;
    color: #C0C0C0;
}

footer {
    text-align: center;
    padding-top: 1em;
}

p {
    color: #CCCC9A;
    font-variant: small-caps;
    padding-left: 20px;
    padding-right: 20px;
}