h1 {
    font-family: 'Fahkwang', sans-serif;
    color: blue;
}

h4 {
    font-family: 'Crimson Text', serif;
    font-size: 25px;
    color: orange;
}

p {
    font-family: 'Crimson Text', serif;
}
