/***** BASE STYLE *****/

body {
    background-color: #001f4d;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 1em;
}

a {
    text-decoration: none;
    color: #001f4d;
    background-color: white;
    padding: 0.5em;
}

a:hover {
    color: white;
    background-color: #001f4d;
}

h1, .copyright {
    text-align: center;
    color: white;
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em;
}

h4 {
    color: #d9d9d9;
    font-size: 1.5em;
    display: inline;
    vertical-align: middle;
}

img {
    height: 50px;
    vertical-align: middle;
}

p {
    color: white;
    background-color: #00091a;
    padding: 1em;
}