
.julie-advice
{background-color:#0657d8;}


.julie-advice{
 font-family:Arial;
 font-size: 18px;
 text-align: center;
 color: green;
}
.advice{
	background-color: #2b2b2b;
}

	h1, h4 {
	font-family:Times;
	font size:28px;
	color:purple;
	text-align: center;
	}
