body{
    font-family: font-family: 'Roboto Mono', monospace;
    background: #4080bf;
    color: white;
}

header{
    font-size: 32px;
    text-align: center;
}
.skillcrush-advice{
    width: 1200px;
    margin: 0 auto;
}

.advice{
    border: 1px solid grey;
    width: 1000px;
    margin: 0 auto;
}

h4{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 26px;
   text-align: center;
   text-transform: capitalize;
    
}

p{
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}

span{
    font-weight: bold;
    font-variant: small-caps;
    font-family: 'Mukta', sans-serif;
    text-decoration: underline;
}

footer{
    text-align: center;
    font-style: italic;
}