.skillcrush-advice {
  width; 960px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #1cbbb4;
}

.advice {
  max-width: inherit;
  margin: auto;
  padding: 15px;
  background-color: #1cbbb4;
  text-align: center;
  color: white;
}

h4 {
  font-size: 24px;
  text-transform: uppercase;
}

footer {
  padding: 20px;
}
