body, htmml {
    font-family: 'Quicksand', sans-serif;
    background-color: #67989A;
    color: #003133;
}
a {
    text-transform: uppercase;
    font-size: .8em;
    text-decoration: none;
    color: #003133;
    font-weight: bold;
}
h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 2em;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    font-style: italic;
}
section {
    display: inline-flex;
}
.advice {
    max-width: 600px;
    padding: .5em;
}

footer {
    text-align: center;
    font-weight: 900;
}



