.latoya-advice {

    background-color:#FFF0F5;
}


h1 {

    text-indent: 50px;

color: #663399;

}

h4 {

    color:#7B68EE;

    font-variant: small-caps;
    
    font-weight: bolder;
}


.advice {

    margin: 20px 100px 50px 200px;

}

.footer {


    font-size: smaller;
}