html {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

.skillcrush-advice {
    background-color:#222;
    margin: 100px auto;
    padding: 2em;
    text-align: left;
    color: #f9f9f9;
    max-width: 800px;
}

h1{
    color: lightblue;
}

h4{
    color: pink;
}

a{
    text-decoration: none;
    color: lavenderblush;
}

a:hover {
    color: hotpink;
}