body {
  background-color: #75a3a3;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #334d4d;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Nerko One', cursive;
  font-size: 50px;
  color: #f0f5f5;
}

h4 {
  font-family: 'Nerko One', cursive;
  font-size: 32px;
  color: #ff66b3;
}

.advice {
  border: 2px;
  background-color: #c6ecd9;
  border-color: #ff66b3;
  border-style: solid;
  padding: 20px 20px;
  margin-top: 30px;
}
