/* ----My Styles -----*/

.meg-advice{
    max-width: 900px;
    text-align: center;
    font-size:24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.advice{
    color: darkblue;
    
}



footer{
    font-size: 30px;
    font-weight: bold;
    color: hotpink;
}