/***** BASE STYLES *****/

body {
  font-size: 16px;
  padding: 1em;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  max-width: 800px;
}

.index {
  color: #714042;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.25em;
  color: #333;
  margin-top: 1em;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5em;
  font-family: "Rasa", serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  color: #e3b7b5;
}

p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  color: #714042;
}

.advice {
  border: double #e3b7b5 3px;
  padding: 10px 40px;
  margin: 10px 0;
}

.advice-2 {
  border: double #e3b7b5 3px;
  padding: 10px 40px;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #bb433d;
}

footer {
  text-align: center;
  padding-top: 1em;
}
