html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, sans-serif;
}

body {
  background: #222222;
  color: #fafafa;
  margin: 2em;
}

section {
  max-width: 80%;
  margin: 2em auto;
}

a {
  color: #f1f1f1;
}
