	/*** Base Styles ***/

.michelle-advice {
		height: 100%;
}

header {
		height: inherit;
		background-color: #4A849F;
		position: relative;
}

header nav {
		float: right;
}

header nav a {
		font-family: 'house-slant', sans-serif;
		font-size: 20px;
		margin: 10px;
		color: white;
		text-decoration: none;
}

a:hover {
  color: #002233;
}

header h1 {
		font-family: 'house-slant', sans-serif;
		font-weight: 400;
		font-size: 90px;
		font-style: normal;
		margin: 0;
		color: #ECF0F1;
}

.advice p {
	  font-family: 'hevletica', sans-serif;
		padding: 10px 0 0 10px;
}
.advice span {
		font-style: italic;
		color: #0088cc;
}
.advice h2 {
		font-family: 'verdana', sans-serif;
		color: #000066;
		padding: 0 0 0 5px;
}

footer {
		clear: both;
		background-color: #4A849F;
}

footer p {
		font-family: 'house-slant', sans-serif;
		font-weight: lighter;
		font-size: 16px;
		color: white;
		text-align: center;
		padding: 20px;
}

	/***

	section {
		font-family: 'futura-pt', sans-serif;
		font-weight: 500;
		font-style: italic;
		font-size: 18px;
		color: #61757A;
		margin: 0 auto;
	}

	section h2 {
		width: 30%;
		text-align: right;
		font-size: 51px;
		font-style: italic;
		line-height: 60px;
		color: #38788E;
		float: left;
		margin: 0 30px;
	}

section h4 {
		font-family: 'house-slant', sans-serif;
		font-weight: 400;
		font-size: 45px;
		font-style: normal;
		color: #ECF0F1;
		border-radius: 18px;
		background: #E86A49;
		line-height: 60px;
		margin: 0 auto;
		padding-left: 85px;
		position: relative;
}

section h4 span {
		display: inline-block;
		border-radius: 50%;
		background: #F2845C;
		text-align: center;
		line-height: 70px;
		width: 80px;
		height: 80px;
		font-size: 60px;
		position: absolute;
		left: -10px;
		top: -10px;
}

 Footer Section


} */
