body {
    background-image: url(../images/pink-flowers.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h1, h4 {
    color: #fff;
    font-weight: bold;
    text-align: center;
    
}

h4 {
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: rgb(48, 119, 54);
}

p {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

a {
    color: rgba(192, 135, 173, 0.815);
}

a:hover {
    color: #fff;
}

.advice {
    padding: 10px 30px 10px 30px;
}


footer {
    margin-top: 5px;
}