html {
    text-align: center;
}

head {
    font: serif;
    color: turquoise; 
}

.michellej-advice {
    background: cornflowerblue;
}

h1 {
    font: serif;
    font-size: 50px;
}

h4 {
    font: serif;
    font-size: 35px;
}

p {
    font: serif;
    font-size: 20px;
}



