.mikes-advice {
  background-color: green;
}

h1 {
  font-family: 'Fahkwang', sans-serif;
  color: blue;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

h4 {
  font-family: helvetica;
  color: yellow;
  text-align: left;
  font-weight: bold;
}
