body {
  background-color: lightgray;
  width: 1200px;
}

.michellelui-advice header,
.michelleluiadvice,
.michellelui-advice footer {
  background-color: white;
  padding: 20px;
  width: 600px;
  margin-left: 610px;
}

.michellelui-advice h1 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 56px;
  text-align: center;
}

.michelleluiadvice,
.michellelui-advice a,
.michellelui-advice footer {
  font-family: 'Open Sans Condensed', sans-serif;
}

.michelleluiadvice h4 {
  font-size: 24px;
  font-weight: bold;
}

.michellelui-advice footer {
  text-align: center;
}
