body {
  background: purple;
  font-family: 'Garamond', sans-serif;
}

header h1 {
  background: white;
  font-variant: small-caps;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  padding: 5px 0 5px 0;
  margin: 5px;
  border: 3px solid black;
}

.advice {
  background: purple;
  border: 2px none black;
  color: white;
  line-height: 30px;
  text-align: justify;
  padding:10px;
  margin: 20px 0;
}

.advice h1 {
  color: black;
}
.advice h4 span {
  font-variant: small-caps;
  font-size: 30px;
}
