/*******BASE STYLES********/

body {
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 25px;
  background: #D28F79
}

h1 {
  font-family: 'Yeon Sung', cursive;
}

h2 {
  font-family: 'Yeon Sung', cursive;
}
