/*******************body****************/

body {
	background-color:#000000;
	}

.advice1 {
	width: 400px;
	height:500px;
	float:left;
	padding:20px;
	margin-top:100px;	
	margin-left: 100px;
}

.advice2 {
	width: 400px;
	height:500px;
	float:right;
	padding:20px;
	margin-top:100px;	
	margin-right: 150px;

}


/***************8header*********************/
header{
	height:175px;
}
header a{
	display: inline-block;
	color:#ffffff;
	font-weight: bold;
	background-color: #f03eb8;
	border:1px solid #f03eb8;
	border-radius: 20px;
	padding:5px;
	text-align: left;
	text-decoration: none;
	margin-top: 40px;
	margin-left: 100px;
	font-family: 'Raleway', sans-serif;

}



 .skillcrush-advice h1{
	color:#f03eb8;
font-family: 'cabin sketch', cursive;
	text-align: center;
	font-size: 60px;
	margin-right: 50px;
	margin-bottom: 1px;
}

.skillcrush-advice  h1 #changefont {
	font-family: 'Raleway', sans-serif;
	text-transform: none;
	font-size: 30px;
	text-align: center;
	font-weight: lighter;
	color:#ffffff;

  }

/*******************section***************/
  
/***********advice1&2**************/
  section {
  	height:800px;
  	text-align: center;
  }

  section h4 {
	font-family: 'Homemade Apple', cursive;
	color:#3ef0e4;
  	font-size: 32px;
  	font-weight: bolder;
  	padding:10px;
  	text-align: left;
  	line-height: 45px;
  	margin-bottom: 10px;
  }

  section p {
  	color:#ffffff;
  	font-size:18px;
  	text-align: center;
	font-family: 'Raleway', sans-serif;
  	padding:20px;
 }



  /***************footer*****************/

  footer p{
  	color:#ffffff;
  	text-align: center;
  }
