/* --- Base Styling --- */

body {
    background-color: rgba(195, 111, 252, 0.808);
    padding: 0;
    margin: 0;
}

/* --- Structure/Layout --- */

main {
    width: 100%;
    clear: both;
}

.advice {
    width: 50%;
    margin: 0;
    float: left;
}

.close {
    width: 100%;
    clear: both;
}

footer {
    width: 100%;
    clear: both;
    text-align: center;
}

