body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
    font-size: 16px;
}

h1 {
  color: red;
  text-align: center;
}

h4 {
  color: blue;
  text-transform: none;
}

.advice {
  text-transform: lowercase;
}

footer {
  text-align: center;
  font-weight: bold;
}
