body {
  color: purple;
  text-align: center;
}
h1{
  background-color: lightgreen;
  color: yellow;
  font-size: 20pt;

}

h4{
  color: cornflowerblue;
  font-size: 14pt;
}

.button{
  background-color: pink;
  padding: 15px;
  border-radius: 15px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.button a{
  text-decoration: underline;
  color: grey;
}
