/*********BASE STYLES********/

body {
  background-color:  #b3b3ff;
  color: black;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  width: auto;
}

h1{
  border-radius: 10px;
  color: cornflowerblue;
  font-family: 'Yeon Sung', cursive;
  font-size: 20pt;
  text-align: center;

}

h4{
  color: cornflowerblue;
  font-family: 'Yeon Sung', cursive;
  font-size: 16pt;
}

footer{
  text-align: center;
  font-size: 9px;
}
/**********HEADER STYLES***********/
header{
  color: darkblue;
  padding: 20px 40px;
}

/**********BUTTON STYLES***********/
.button{
  background-color:  #e6e6ff;
  border-radius: 10px;
  color:  #4d4dff;
  font-size: 24px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  width: 240px;
}
