/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 40px;
    margin: 0 auto;
    background: url('http://pocoder.tech/img/duck.png') no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: black;
    margin-top: 30px;
}

h4 {
    font-family: 'Marck Script', cursive;;
    font-size: 24px;
    font-weight: bold;
    color: #f16059;
}

a {
    text-decoration: none;
    color: #bb433d;
}

footer {
    text-align: center;
    padding-top: 16px;
}