/****Base Styles****/
body{
  background-color: ffe2fe;
  color: #000;
  margin: 0, auto;
}

/****Grid Styles****/
.full-width{
  width: 1200px;
  float: left;
  clear: both;
}
.half-width{
  width: 600px;
  float: left;
}

/****Header Styles****/
header{
  border-bottom: 2px solid #000;
}

h1{
  color: 1D2f6f;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

h1 span{
  font-size: 46px;
}

/****Body Styles****/
div.advice{
  padding: 25px, 50px;
}

h4{
  color: F88dad;
  font-size: 32px;
  text-align: center;
  border-bottom: 2px solid pink;
  margin-right: 380px;
  margin-left: 380px;
}

p{
  font-family: sans-serif;
  font-size: 22px;
  margin-left: 100px;
  margin-right: 20px;
}

p.emphasis{
  font-style: italic;
}

.relax-image img{
  width: 30%;
  margin-left: 45px;
  padding-left: 200px;
}

.goal-image img{
  width: 60%;
  padding-top: 25px;
  padding-left: 120px;
}

.dream-image img{
  width: 40%;
  padding-top: 50px;
  padding-left: 200px;
}

/****Footer Styles****/
footer p{
  border-top: 2px solid pink;
  font-size: 16px;
  padding: 20px 0px;
  text-align: right;
}
