/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #ffe2fe;
}

h1 {
    font-size: 2.25em;
    color: #1d2f6f;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-right: 50px;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #f88dad;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-right: 50px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-left: 80px;
    margin-right: 50px;
  }

a {
    text-decoration: none;
    color: #bb433d;
}

footer {
    text-align: center;
    padding-top: 1em;
}