body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h1, h4 {
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
  color: #003399;
	font-size: 30px;
}

h4 {
	font-size: 16px;
  color: #006600;
}

p {
	font-size: 16px;
	line-height: 21px;
  padding: 0 30px;
}

p em  {
  color: #993333;
}

footer {
  margin: 30px 0 0 0;
	text-align: center;
}

.skillcrush-advice {
	width: 1200px;
	margin: 0 auto;
}

.advice {
  background-color: #FFFFF4;
  border: 3px solid #006600;
  padding: 20px;
}

.personal-advice {
  color: #003399;
}
