/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #faf5f5;
}

h1 {
    font-size: 2.25em;
    color: #549994;
    margin-top: 1em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    color: #f16059;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #f16059;
}

strong {
    color: #549994;
}

a {
    text-decoration: none;
    color: #bb433d;
}

footer {
    text-align: center;
    padding-top: 1em;
}
