body{
    background: blanchedalmond;  
  }
  
  /****** HEADINGS ******/
  h1{
    color: darkorchid;
    font-family: 'Sriracha', regular;
    font-size: 35px;
    text-align: center;
  }
  
  h4{
    color: darkorange;
    font-family: 'Sriracha', regular;
    font-size: 25px;
  }
  
  /****** TEXT ******/
  p{
    font-family: 'Kanit', regular;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 3px;
    text-align: center;
  }

span{
    color: deepskyblue;
  }


#personal{
    border: 2px solid deepskyblue;
    color: crimson;
    display: inline;                            /*To adjust the border to the text inside it*/
    font-family: 'Sriracha', regular;
    font-size: 25px;
    padding: 10px;

/*To put the element in the center*/

    position: fixed;
    left: 50%;                                
  }
/****** FOOTER ******/
  #copy{
      font-family: sans-serif;
      font-size: 12px;
  }
  footer{
      float: left;
  }