/***** BASE STYLES *****/

body {
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;;
    padding: 1em;
    margin: 0 auto;
    background: #154360;
    color: #ffffff
}

h1 {
    font-size: 2.25em;
    color: #ffffff;
    margin-top: 1em;
    font-family: 'Fredericka the Great', cursive;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #A9CCE3;
}

a {
    text-decoration: none;
    color: #A9CCE3;
}

footer {
    text-align: center;
    padding-top: 1em;
}
