a:link {
text-decoration: none;
color: black;
}

.skillcrush-advice {
background: #66CBD2
}

.advice {
background: #01A9B4;
width: 100%;
padding: 10px;
border: 10px solid #B09305;
margin: 20px;
}

h1 {
color: black;
font-family: sans-serif;
text-align: center;
}

h4 {
color: #ffffff;
font-family: sans-serif;
font-size: 100px;
text-align: center;
}

p {
font-family: sans-serif;
text-align: center;
}