body {
	font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    padding: 1em;
    margin: 0 auto;
    background-color: #C88EE7;
    color: #ffffff
}
img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 20%;
}