/***** Base Styles *****/

body {
  background-color: gray;
  background-size: cover;
  border-style: solid;
  border-radius: 25px;
  border-color:	darkgray;
  font-family: 'Montserrat', sans-serif;
  height: 850px;
  margin: 25px;
  padding: 20px;
  text-align: center;
  width: auto;
  color: #EEE8AA;
}

/***** Header *****/
header h1 {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: bolder;
  line-height: 60px;
  margin-bottom: 80px;
  text-align: center;
  color: #e6dd7f;
}

/***** Section *****/
#Advice p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-top: 30px;
  text-align: justify;
  word-spacing: 3px;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: bolder;
  color: #e6dd7f;
}

/***** Footer *****/
footer p{
  font-size: 10px;
  margin-top: 100px;
  color: #EEE8AA;
}
