h1 {
  color: #007553;
  display: flex;
  justify-content: center;
  font-family: Cambria;
}
.advice {
  background: #007553;
  color: bisque;
  font-family: Cambria;
  text-align: center;
  padding: 10px;
}
h4 {
  font-size: 20px;
  text-decoration: underline;
}

footer {
  font-family: Cambria;
  color: #007553;
  text-align: center;
}
