/*****BASE STYLES*****/


.kerrymcshanekay-advice {

	font-family: 'Cormorant Garamond', serif;
	margin: 10px;
	
}


/*****HEADER*****/


.kerrymcshanekay-advice header {

	background-color: #fff2e6;
	border-bottom: 4px double #000;
	padding-top: 35px;
	padding-bottom: 30px;
	width: 100%;
	line-height: 200%;
	
}


.kerrymcshanekay-advice h1 {
	
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	text-align: center;

}


.kerrymcshanekay-advice h2 {

	color: #689fcc;
	font-family: 'Satisfy', cursive;
	font-size: 32px;
	letter-spacing: 0.10em;
	text-align: center;
	
	

}


span, #header {

	color: #000000;

}

/*****BODY*****/


.kerrymcshanekay-advice h4 {
	text-align: left;

}

.kerrymcshanekay-advice #half-width-1 {
	
	font-size: 21px;
	padding-left: 425px;
	text-align: justify;
	width: 55%;
	

}

.kerrymcshanekay-advice #half-width-2 {
	
	font-size: 21px;
	padding-left: 425px;
	padding-bottom: 20px;
	text-align: justify;
	width: 55%;


}


/*****FOOTER*****/

.kerrymcshanekay-advice footer {

	background-color: #fff2e6;
	height: 75px;
	width: 100%;
	border-top: 4px double #000;

}

.kerrymcshanekay-advice footer p {
	float: right;
	padding-right: 20px;


}

.kerrymcshanekay-advice a {

	background-color: #689fcc;
	border-radius: .5rem;
	color: #FFF;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 10px;
	position: relative;
	left: 48%;
	top: 20%;
	text-align: center;
	text-decoration: none;
	width: 100px;

}

	




	