/*****ADVICE BASE STYLES*******/

body {
    color: #2b2b2b;
    font-family: 'Source Sans Pro', sans-serif;
}


#marci-advice
header h1 {
    color: purple
    font-family: 'Lora', serif;
    font-size: 30px; 
}

