/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: linear-gradient(to top right, #33ccff 0%, #0000ff 100%);
}

h1 {
    font-size: 2.25em;
    color: #333;
    margin-top: 1em;
}
h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #FF66FF;
}

a {
    text-decoration: none;
    color: #FF66FF;
}

footer {
    text-align: center;
    padding-top: 1em;
}
