/***** BASE STYLES *****/
body {
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
}

h1, h4 {
    color: #000066;
    font-weight: bold;
}

p {
    color: #0000ff;
    text-transform: uppercase;
}

/***** ADVICE STYLE *****/
.advice {
    text-transform: uppercase;
    margin: 15px;
    padding: 5px;
}

