h1 {
  font-family: "Source Code Pro", monospace;
  color: #cb0304;
}

body {
  background-color: #f7f7f7;
  margin: 10vw 25vw;
}

h4 {
  font-family: "Source Code Pro", monospace;
  color: #ff5252;
}

p {
  font-family: "Noto Sans HK", sans-serif;
  color: #140a78;
  font-size: 0.8em;
}

footer {
  text-align: right;
}

button {
  border-color: #cb0304;
  border-width: 1px;
  background-color: #f7f7f7;
  height: 25px;
  width: 150px;
  font-family: "Noto Sans HK", sans-serif;
  text-decoration: none;
}
