/*--Global--*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
  }

/* Base Styles*/
body {
    font-family: "Open Sans Condensed", Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
    background-color: #ECD7D7;
}

header h1 span{
    font-family: "Pacifico", Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    color: #393434;
    text-shadow: 2px 2px 2px grey;
}

header h1 {
    font-family: "Open Sans Condensed", Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
    color: #393434;
}

section {
    padding: 50px 0px;
}

.advice {
    margin: 0 auto;
    float: left;
    width: 45%;
    padding: 15px;
    text-indent: 50px;
}

.advice p {
    font-size: 20px;
}

.advice h4 {
    text-align: center;
    font-size: 28px;
    padding-bottom: 20px;
}

.advice span {
    font-family: "Pacifico", Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 30px;
    color: #393434;
    text-shadow: 2px 2px 2px grey;
}

.link {
    padding: 15px;
    clear: both;
    margin: 0 auto;
}

footer {
    text-align: center;
}

