@charset "UTF-8";
/* CSS Document */

body {
	display: flex;
	display: -webkit-box; 
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;  
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	margin: 0 auto;
	font-family: 'Dosis', sans-serif;

}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://www.dropbox.com/s/l0li3qb74gdeqry/blue-blue-background-botanical-1445416.jpg?raw=1);
	background-attachment: fixed;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
	display: flex;  
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	
}

button {
	align-self: flex-start;
	background-color: transparent;
	color: #fff;
	margin-top: 2.5%;
	height: 30px;
	border: none;
	text-decoration: none;
	font-family: 'Sedgwick Ave', cursive;

	
}

a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5vw;
}

a :active{
	text-decoration: none;
}

a :visited, a:hover{
	text-decoration: none;
	color: #ea526f;
}

section {
	display: flex;  
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-direction: row ;
	background-color: #495867;
	width: 100%;
	
}

.advice{
	width: 100%;
	align-content: space-between;
	align-items: center;
	display: flex;  
	justify-content: center;
	flex-direction: row ;
	margin: 0 auto;
}

h2, h4 {
	font-family: 'Dosis', sans-serif;
}

h1{
	padding-left: 40%;
	width: 50%;
	text-align:justify;
	font-family: 'Oswald', sans-serif;
	font-size: 5.5vw;
	color: #f4f1bb;
	opacity: 0.7;
	
}


h4 {
	font-size: 3.5vw;
	color: #8db5a1;
	font-weight: 600;
}

p {
	font-size: 1.5vw;
	color: #fff;
}


#left{
	width: 45%;
	height: auto;
	padding-right: 2.5%;
	margin: 0;
}

#right {
	width: 45%;
	height: auto;
	padding-left: 2.5%;
	margin: 0;

}

footer {
	text-align: center;
	width: 100%;
	background-color: #ea778c;
}