/****** header section *******/
.skillcrush-advice {
  text-align: center;
}





/******** body section *****/
footer {
  font-family: 'Source Sans Pro', sans-sarif;
color: #2b2b2b;
}

h4, p {
  font-family: 'Lora', serif;
}
