/*BASE STYLES*/
body{font-family: 'Montserrat', sans-serif;
     color: black;
     background-color: #decbc0;
}

.ubong-advice h1 span{
  color:#e20f50;
}

.advice h4 {
  color:black;
}

.footy span{
  color:#e20f50;
}
