/*BASE*/
body {
    background: lavenderblush;
    font-family: 'Thasadith', sans-serif;
}
 .venus-advice a {
    color: black;
    font-style: italic;
 }
.venus-advice h1 {
    color: darkslategray;
    text-decoration: underline;
    padding: 0px 20px;
}
.advice {
    padding: 0px 20px;
}
.advice h4 {
    color: rosybrown;
    font-weight: 900;
}
.advice p {
    color: blakc;
}
.advice span {
    color: lightsteelblue;
    font-weight: bolder;
}
footer {
    font-family: 'Dancing Script', cursive;
    padding: 270px 0px 5px;
    text-align: center;
}

