body {
  width:100%;
}

header a {
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px;
}

h4 {
  margin: 0px;
}

#top {
  margin-top: 10px;
  font-size: 20px;
  line-height: 20px;

}

#lh1 {
  font-size: 25px;
  line-height: 7px;
  color: blue;
}

#lh2 {
font-size: 30px;
  line-height: 20px;
  color:green;
}

#lh3 {
  font-size: 35px;
  line-height:30px
  color:black;
}

#lh4 {
  font-size: 40px;
  line-height: 60px;
  color: black;
  font-weight:bold;
}

#lh5 {
  font-size: 50px;
  line-height: 100px;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}

#tiny-center {
  text-align: center;
  margin: 0px;
}

div.background {
  background-image: url(../img/code.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#big {
  font-size: 35px;
}

#never {
  text-decoration: underline;
}

h3 {
  line-height: 5px;
}

#two {
  margin-left:90px;
}

#three {
  margin-left: 240px;
}

.center {
  width:700px;
  margin: 0 auto;

}

pre2 {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  margin-left: 100px;
}
