body{
    font-family: arial;
}

h1{
    margin-top: 80px;
    margin-left: 70px;
    font-size: 40px;
    

}

nav ul{
    margin-left: 55px;
    margin-top: 150px;
    line-height: 45px;
}

footer{
    margin-left: 70px;
    margin-top: 150px;
}