body{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #009999;
}

header a{
	text-align: left;
	text-transform: uppercase;
}

header {
	height: 50px;
	font-size: 20px;
	text-align: center;
}

section	{
	background-color: #00b3b3;
	border: 6px solid #ffffff;
	padding: 3px;
	text-align: left;
}

h2{
	font-size: 16px;
	}

p{
	font-size: 16px;
}

footer{
		text-align: left;
}