html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.advice-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  flex-grow: 1;
}


a {
  text-decoration: none;
  text-transform: capitalize;


}

h1 {
  font-family: Helvetica;
  text-align: center;
}

h2 {
  font-weight: bold;
  color: rgb(0, 196, 130);
  /* font-size: px; */
  text-align: center;
}

p {
  color: #0F0F0F
}

span {
  color: #373737;

}

.advice {
  background-color: rgb(233, 229, 229);
  padding: 20px;
  margin: auto;
  width: 50%;
  min-width: 400px;
}

footer {
  background-color: rgb(233, 229, 229);
  text-align: center;
}