h1 {
  background-color: lightblue;
  font-family: 'Ranga', cursive;
  font-size: 45px;
  text-align: center;
  padding: 15px;
}

.column {
  box-sizing: border-box;
  float: left;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  padding: 0 30px 30px 30px;
  line-height: 1.6;
  width: 50%;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;

}

.advice {
  clear: both;
  display: inline-block;
}

footer {
  background-color: lightblue;
  font-family: 'Merriweather', serif;
  padding: 8px;
  text-align: center;
}
