/****BASE STYLES****/
body {
  font-family: "Crimson Text", serif;
  color: #2b2b2b;
  background-color: #ffffcc;
}

/****HEADER****/

header h1 {
  font-family: "Crimson Text", serif;
  font-size: 32px;
  color: Indigo;
  text-align: center;
}

/****BODY****/
.advice h4 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 28px;
  font-variant: small-caps;
  padding-left: 20px;
  color: #4b0082;
}
.advice p {
  font-size: 20px;
  padding: 0 20 0 20;
}

/****FOOTER****/
footer p {
  text-align: center;
  font-size: 14px;
}
