.advice-katieb {
	background-color: #d8f0f3;
}

.advice-katieb h1, h4 {
	font-family: 'Notable', sans-serif;
	text-align: center;
}

.advice-katieb p {
	font-family: 'Slabo 27px', serif;
}

.skillcrush-advice h4 {
  color: #F16059;
}
