body .arlēttas-advice{
  background-color: #D9B29C;
}

h1, h4 {
  color: #6D3BD9;
  font-family: 'Bonbon', cursive;
  font-size: 36px;
}

p {
  color: #87A658;
  font-family: 'Butterfly Kids', cursive;
  font-size: 24px;
}
