body {
    background-color: mistyrose;
    font-family: 'Karla', sans-serif;
}

h1 {
    color:rosybrown;
    font-size: 50px;
    text-align: center;
}

span {
    color: beige;
}

h4 {
    color: rosybrown;
    font-size: 25px;
}

p {
    color: tan;
    font-size: 18px;
}

footer p {
    text-align: center;
}